<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("LoadTable",
            function (json) {
                var colHeader = Object.keys(json[0]);
                //Append each row to html table
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    for (var j = 0; i < colHeader.length; i++) {                      
                        tr.append("<td>" + json[i][colHeader[j]] + "</td>");
                    }
                    $('table').append(tr);
                }
            });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("EmpDetails",
            function (json) {
                var tr;
                //Append each row to html table
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].Id + "</td>");
                    tr.append("<td>" + json[i].Name + "</td>");
                    tr.append("<td>" + json[i].City + "</td>");
                    tr.append("<td>" + json[i].Address + "</td>");
                    $('table').append(tr);
                }
            });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
